.navbar {
  background: #fff;
  height: 50px;
  border-radius: 0;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  margin-bottom: 0px;
  z-index: 100;
}
.navbar a {
  color: #434343;
}
.navbar-brand {
  font-family: Arial;
  font-weight: bold;
}
.navbar-nav {
  font-family: Arial Narrow;
}
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
  color: #7a7a7a;
}
.nav-menu-selected:after {
  content: "";
  border-top: 2px solid #434343;
  height: 2px;
  display: block;
  top: -3px;
  width: 75%;
  position: relative;
  margin: 0 auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.container-main {
  background-color: #fff;
  padding-top: 40px;
  padding-right: 0px;
  position: relative;
}
.media-left {
  padding-right: 0;
}
#home-post-container hr:last-child {
  display: none;
}
.post {
  position: relative;
}
.post .post-title {
  margin-right: 2px;
}
.post .post-bubble .icon-speech.shadow {
  left: -41px;
  color: rgba(171,171,171,0.25);
  top: -12px;
  font-size: 49px;
}
.post .post-bubble .icon-speech {
  color: #fff;
  font-size: 48px;
  position: absolute;
  top: -14px;
  left: -40px;
}
.post .post-bubble .post-comment-icon {
  font-size: 22px;
  color: #8491e4;
  position: absolute;
  top: 13px;
  left: 12px;
}
.post .post-img-container {
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.post .post-img-container img {
  width: 100%;
}
.post .post-heading {
  font-size: 24px;
}
.post .media-heading {
  position: relative;
}
.post a,
.post cursor {
  color: #434343;
  text-decoration: none;
}
.post a:hover,
.post cursor:hover {
  color: #415ada;
}
.post .media-body {
  padding-left: 20px;
}
.post .post-date {
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
}
.post .post-date:before {
  content: ' \2014 \00A0';
}
.post .post-author-container {
  font-style: italic;
}
.post .post-author-container .post-author a {
  color: #415ada;
  text-decoration: underline;
}
.post .post-author-container span {
  font-size: 12px;
}
.post .post-tag {
  margin-right: 5px;
  background-color: #efefef;
  color: #434343;
  font-size: 10px;
}
.post p {
  margin-top: 10px;
}
.post .post-pay {
  display: inline;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: normal;
}
.post .post-pay .icon-stack {
  color: #f9d829;
}
#right-container {
  padding-right: 0px;
  position: absolute;
  top: 0;
  right: 0;
  width: 26%;
}
#recommended-job {
  padding: 15px 10px 15px 5px;
  background-color: #f8f7ff;
  border-right: 2px solid #e0dfea;
}
#recommended-job .title {
  text-align: center;
}
#recommended-job hr {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
}
#recommended-job hr:last-child {
  display: none;
}
#recommended-job .matched-job-container {
  padding-left: 15px;
  padding-top: 10px;
}
.matched-job .media-heading {
  margin-bottom: 0px;
}
.matched-job .media-body {
  text-align: right;
}
.matched-job .author-img {
  width: 50px;
  margin-top: 5px;
}
.matched-job .media-heading {
  font-weight: bold;
}
.matched-job .job-description {
  margin-top: 5px;
  font-size: 11px;
  line-height: 1.3em;
}
.matched-job .tags {
  font-size: 10px;
  font-style: italic;
  color: #958cf5;
}
.matched-job .icon-speech.shadow {
  color: rgba(171,171,171,0.25);
  font-size: 42px;
}
.matched-job .icon-speech {
  font-size: 40px;
  position: absolute;
  top: -5px;
  right: -35px;
  color: #a69efc;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.matched-job .post-image-container {
  position: relative;
}
.matched-job .percent-match {
  right: -33px;
  position: absolute;
  top: 7px;
  font-size: 13px;
  color: #fff;
}
.matched-job p {
  margin-bottom: 2px;
}
.matched-job .post-date {
  font-size: 10px;
  font-style: italic;
  color: #ccc;
}
body {
  background-color: #ecebf7;
}
@media (min-width: 768px) {
  .navbar-nav>li {
    margin: 0 5px;
  }
}
