.avatar {
  border: 2px solid rgba(93,90,126,0.15);
}
.navbar-brand {
  font-family: Arial;
  font-weight: bold;
}
.navbar-nav {
  font-family: Arial Narrow;
}
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: transparent;
  color: #7a7a7a;
}
.nav-menu-selected:after {
  content: "";
  border-top: 2px solid #434343;
  height: 2px;
  display: block;
  top: -3px;
  width: 75%;
  position: relative;
  margin: 0 auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.container-main {
  background-color: #fdfdfd;
  padding-top: 40px;
  padding-right: 0;
  position: relative;
  padding-bottom: 20px;
}
.media-left {
  padding-right: 0;
}
#home-post-container hr:last-child {
  display: none;
}
.post {
  position: relative;
}
.post .post-title {
  margin-right: 2px;
}
.post .post-bubble .icon-speech.shadow {
  left: -45px;
  color: rgba(93,90,126,0.4);
  top: -15px;
  font-size: 52px;
}
.post .post-bubble .icon-speech {
  color: #fdfdfd;
  font-size: 48px;
  position: absolute;
  top: -14px;
  left: -40px;
}
.post .post-bubble .post-comment-icon {
  font-size: 22px;
  color: #8491e4;
  position: absolute;
  top: 13px;
  left: 12px;
}
.post .post-img-container {
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.post .post-img-container img {
  width: 100%;
}
.post .post-heading {
  font-size: 24px;
}
.post .media-heading {
  position: relative;
}
.post a,
.post cursor {
  color: #434343;
  text-decoration: none;
}
.post a:hover,
.post cursor:hover {
  color: #415ada;
}
.post .media-body {
  padding-left: 20px;
}
.post .post-author-container {
  font-style: italic;
}
.post .post-author-container .post-author a {
  color: #415ada;
  text-decoration: underline;
}
.post .post-author-container span {
  font-size: 12px;
}
.post .post-tag {
  margin-right: 5px;
  background-color: #efefef;
  color: #434343;
  font-size: 10px;
}
.post p {
  margin-top: 10px;
}
.post .post-pay {
  display: inline;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: normal;
}
.post .post-pay .icon-stack {
  color: #e0c634;
}
.post-date {
  color: #ccc;
  font-size: 12px;
  font-weight: normal;
}
.post-date:before {
  content: ' \2014 \00A0';
}
#right-container {
  padding-right: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 28%;
}
#recommended-job {
  box-shadow: 0px 2px 2px rgba(0,0,0,0.6);
  margin-right: -10px;
}
#recommended-job .title {
  text-align: center;
}
#recommended-job hr {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
}
#recommended-job hr:last-child {
  display: none;
}
#recommended-job .box-triangle-background {
  border-top: 10px solid #2c2c2c;
  border-right: 10px solid transparent;
  float: right;
  margin-top: 1px;
}
.matched-job.media {
  background: #525066;
  padding: 10px;
  border-radius: 0;
  border-bottom: 1px solid #3f3d4f;
  border-top: 1px solid #6a6884;
  margin-top: 0;
}
.matched-job.media:first-child {
  padding-top: 20px;
}
.matched-job .media-heading {
  margin-bottom: 0;
  padding: 0 0 2px;
  color: #c1bcff;
  font-size: 15px;
}
.matched-job .media-body {
  text-align: right;
}
.matched-job .author-img {
  width: 50px;
  margin-top: 5px;
}
.matched-job .job-description {
  margin-top: 5px;
  font-size: 12px;
  line-height: 1.5em;
  color: #fdfdfd;
}
.matched-job .tags {
  font-size: 10px;
  font-style: italic;
  color: #8a8998;
}
.matched-job .icon-speech.shadow {
  color: #46445a;
  font-size: 42px;
  top: -4px;
  right: -38px;
}
.matched-job .icon-speech {
  font-size: 40px;
  position: absolute;
  top: -5px;
  right: -35px;
  color: #c1bcff;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.matched-job .icon-speech.important {
  color: #fc9e9e;
}
.matched-job .icon-speech.trivial {
  color: #ccc;
}
.matched-job .post-image-container {
  position: relative;
}
.matched-job .percent-match {
  right: -33px;
  position: absolute;
  top: 7px;
  font-size: 13px;
  color: #fdfdfd;
}
.matched-job p {
  margin-bottom: 2px;
}
.matched-job .post-date {
  font-size: 10px;
  font-style: italic;
  color: #8a8998;
}
body {
  background-color: #5d5a7e;
}
body>.navbar {
  background: #fdfdfd;
  height: 50px;
  border-radius: 0;
  box-shadow: 0px 0 5px rgba(0,0,0,0.3);
  margin-bottom: 0;
  z-index: 100;
}
body>.navbar a {
  color: #434343;
}
body .top-right {
  float: right;
  padding-top: 3px;
}
body .top-right #login-btn {
  margin-right: 5px;
}
body .top-right .login-separator {
  margin: 0 8px 0 0px;
  color: #ababab;
}
#signup-btn {
  background: #8491e4;
  color: #fdfdfd;
  border-color: #777499;
  border-bottom: 2px solid #5d5a7e;
}
#signup-btn:hover {
  background-color: #727dc0;
  border-color: #c1bcff;
}
.login-signup-container {
  margin-top: 5px;
}
.loggedin-container .avatar {
  height: 42px;
  float: right;
}
.loggedin-container .account-name {
  display: inline-block;
  font-size: 11px;
  text-align: right;
  margin-top: 6px;
  margin-right: 5px;
}
.loggedin-container .account-name .greeting {
  color: #00da5e;
}
footer {
  margin-top: 20px;
}
footer.container {
  padding: 0;
}
footer .navbar-header {
  float: right;
}
footer .navbar {
  margin-bottom: 0;
}
footer .navbar-brand {
  padding-right: 0;
  color: #8491e4;
}
footer .navbar-nav>li:first-child {
  padding-left: 0;
  margin-left: 0;
}
footer .navbar-nav>li:first-child a {
  padding-left: 0;
  margin-left: 0;
}
footer .navbar-nav>li>a {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
  color: #f7f7f7;
}
footer .nav-menu-selected:after {
  display: none;
}
@media (min-width: 768px) {
  .navbar-nav>li {
    margin: 0 5px;
  }
}
