black = #434343
grey	= #7A7A7A
site-background = #5D5A7E
lightgrey = #CCC
lightgrey-100 = #EFEFEF
darkgrey = #8A8998
purple = #415ADA
darkpurple = #8491E4
darkpurple-100 = #727DC0
gold = #E0C634
lightpurple = #C1BCFF
orange = #FC9E9E
white = #FDFDFD
white-100 = #F7F7F7
green = #00DA5E

.avatar
	border 2px solid rgba(93, 90, 126, 0.15)

.navbar-brand
	font-family	Arial
	font-weight	bold

.navbar-nav
	font-family Arial Narrow

.nav>li>a:hover
.nav>li>a:focus
	background-color transparent
	color grey

.nav-menu-selected:after
	content	 ""
	border-top 2px solid #434343
	height 2px
	display block
	top -3px
	width 75%
	position relative
	margin 0 auto
	border-top-left-radius 2px
	border-top-right-radius 2px

.container-main
	background-color white
	padding-top	40px
	padding-right 0
	position relative
	padding-bottom 20px

.media-left
	padding-right	0

#home-post-container
	hr:last-child
		display none

.post
	position relative
	.post-title
		margin-right 2px
	.post-bubble
		.icon-speech.shadow
			left -45px
			color rgba(93, 90, 126, 0.4)
			top -15px
			font-size 52px
		.icon-speech
			color white
			font-size: 48px
			position: absolute
			top: -14px
			left: -40px
		.post-comment-icon
			font-size 22px
			color darkpurple
			position absolute
			top 13px
			left 12px
	.post-img-container
		width 70px
		height 70px
		overflow hidden
		img
			width 100%
	.post-heading
		font-size 24px
	.media-heading
		position relative
	 	a
	 		cursor
			color black
			text-decoration none
			&:hover
				color purple
	.media-body
		padding-left 20px
	// .post-date
	// 	&:before
	// 		content: ' \2014 \00A0'
	// 	color lightgrey
	// 	font-size 12px
	// 	font-weight normal
	.post-author-container
		font-style italic
		.post-author a
			color purple
			text-decoration underline
		span
			font-size 12px
	.post-tag
		margin-right 5px
		background-color lightgrey-100
		color black
		font-size 10px
	p
		margin-top 10px
	.post-pay
		display inline
		font-size 14px
		position absolute
		right 0
		bottom 0
		font-weight normal
		.icon-stack
			color gold

.post-date
		&:before
			content: ' \2014 \00A0'
		color lightgrey
		font-size 12px
		font-weight normal
		
#right-container
	padding-right 0
	position absolute
	top 0
	right 0
	width 28%
	
#recommended-job
	box-shadow 0px 2px 2px rgba(0, 0, 0, 0.6)
	margin-right -10px
	.title
		text-align center
	hr
		margin-top 15px
		margin-bottom 15px
		width 90%
	hr:last-child
		display none
	.box-triangle-background
		border-top 10px solid #2C2C2C
		border-right 10px solid transparent
		float right
		margin-top 1px

flip-img = @block {
	-moz-transform: scaleX(-1)
	-o-transform: scaleX(-1)
	-webkit-transform: scaleX(-1)
	transform: scaleX(-1)
	filter: FlipH
	-ms-filter: "FlipH"
}

.matched-job
	&.media
		background #525066
		padding 10px
		border-radius 0
		border-bottom 1px solid #3F3D4F
		border-top 1px solid #6A6884
		margin-top 0
		&:first-child
			padding-top 20px
	.media-heading
		margin-bottom 0
		padding 0 0 2px
		color lightpurple
		font-size 15px
	.media-body
		text-align right
	.author-img
		width 50px
		margin-top 5px
	.job-description
		margin-top 5px
		font-size 12px
		line-height 1.5em
		color white
	.tags
		font-size 10px
		font-style italic
		color darkgrey
	.icon-speech.shadow
		color #46445A
		font-size 42px
		top -4px
		right -38px
	.icon-speech
		font-size 40px
		position absolute
		top -5px
		right -35px
		color lightpurple
		{flip-img}
		&.important
			color orange
		&.trivial
			color lightgrey
	.post-image-container
		position relative
	.percent-match
		right -33px
		position absolute
		top 7px
		font-size 13px
		color white
	p
		margin-bottom 2px
	.post-date
		font-size 10px
		font-style italic
		color darkgrey
		
body
	background-color site-background
	&>.navbar
		background	white
		height	50px
		border-radius	0
		box-shadow	0px 0 5px rgba(0, 0, 0, 0.3)
		margin-bottom 0
		z-index 100
		a
			color black
	.top-right
		float	right
		padding-top 3px
		#login-btn
			margin-right 5px
		.login-separator
			margin 0 8px 0 0px
			color #ABABAB

#signup-btn
	background darkpurple
	color white
	border-color #777499
	border-bottom 2px solid site-background
	&:hover
		background-color darkpurple-100
		border-color lightpurple

.login-signup-container
	margin-top 5px

.loggedin-container
	.avatar
		height 42px
		float right
	.account-name
		display	inline-block
		font-size 11px
		text-align right
		margin-top 6px
		margin-right 5px
		.greeting
			color green
		
footer
	margin-top 20px
	&.container
		padding 0
	.navbar-header
		float right
	.navbar
		margin-bottom 0
	.navbar-brand
		padding-right 0
		color darkpurple
	.navbar-nav>li:first-child
		padding-left 0
		margin-left	0
		a
			padding-left 0
			margin-left	0
	.navbar-nav>li>a
		padding-left 10px
		padding-right 10px
		font-weight normal
		color white-100
	.nav-menu-selected
			&:after
				display none

@media (min-width 768px) 
	.navbar-nav>li
		margin 0 5px

